* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.header {
    background-color: #1F2937;
    height: 400px;
}

.header * {
    color: #f9faf8;
}


.hero-links a {
    font-size: 18px;
    margin-right: 30px;
}

.inline-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1000px
}

.hero-text {
    font-size: 24px;
    margin-left: 100px;
}


.header-div {
    display: flex;  
    flex-wrap: wrap;
    margin-top: 90px;
    align-items: center ;
    height: fit-content;
}

.child1 {
    margin-left: 100px;
    flex: 1;
}
.child2 {
    flex: 1;
    margin-left: 40px;
    margin-right: 100px;
    text-align: center;
}

.child1 .head {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.child1 p {
    font-size: 18px;
}

.signup-button {
    margin-top: 7px;
    padding: 7px;
    width: 110px;
    background-color: #3882F6;
    border-radius: 7px;
    border: none;
    font-size: 14px;
}

.main-txt {
    padding: 50px;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 400px;
    gap: 50px;
    margin-bottom: 100px;
}
.item1 {
    padding: 10px;
    width: 150px;
    text-align: center;
    
}
.item2 {
    width: 150px;
    padding: 10px;
    text-align: center;
    
}
.item3 {
    width: 150px;
    padding: 10px;
    text-align: center;
}
.item4 {
    width: 150px;
    padding: 10px;
    text-align: center;
}

.img1  {
    border: 3px solid #3882F6;
    border-radius: 8px;
}
.img2  {
    border: 3px solid #3882F6;
    border-radius: 8px;
}
.img3  {
    border: 3px solid #3882F6;
    border-radius: 8px;
}
.img4  {
    border: 3px solid #3882F6;
    border-radius: 8px;
}
.sec {
    background-color: #e5e7eb;
    padding: 80px 150px 80px 150px;
}
.sec-txt1 {
    color: #1F2937;
    font-size: 36px;
    font-style: italic
}
.sec-txt2 {
    font-size: 24px;
    font-weight: 900;
    text-align: end;
    margin-top: 20px;
}
.last {
    display: flex;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 10px;
    margin: 80px 150px 80px 150px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.last-txt1 {
    font-size: 24px;
    font-weight: 700;
}
.last-txt2 {
    font-size: 18px;
}

.motivate-button button {
    padding: 7px;
    width: 100px;
    border-color: white;
    border-radius: 8px;
    background-color: #3882F6;
    color: #f9faf8 ;
    font-size: 14px;
}

.footer {
    background-color: #1F2937;
    padding: 50px;
    
}

.footer p {
    color: #f9faf8;
    font-size: 18px;
    text-align: center; }